.counter-picker-page{
	height: 100%;
	width: 100%;
}

.counter-picker-page-content{
	height: 100%;
	width: 100%;
	position: relative;

}

.counter-picker-page-top-content{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 185px;
	width: 100%;

	.enemy-team-wrapper{
		height: 100%;
		width: 100%;
		position: relative;
	}
}

.counter-picker-page-bottom-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	padding-top: 185px;

	.hero-selection-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		padding-right: 550px;
		background: $off-white;
	}

	.counter-pick-list-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		height: 100%;
		width: 550px;
		background: $dark-green;
	}
}

.counter-picker-page-bottom-content-relative-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
}

.hero-selection-relative-wrapper{
	height: 100%;
	width: 100%;
	position: relative;
}

.hero-search-bar-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 80px;
}

.hero-grid-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}


@media(max-width:$counter-picker-page-medium-width){
	.counter-picker-page-top-content{
		height: 143px;
	}

	.counter-picker-page-bottom-content{
		padding-top: 143px;

		.hero-selection-wrapper{
			padding-right: 370px;
		}

		.counter-pick-list-wrapper{
			width: 370px;
		}
	}
}



@media(max-width:$counter-picker-page-small-width){
	.counter-picker-page-top-content{
		height: auto;
		position: relative;
	}

	.counter-picker-page-bottom-content{
		position: relative;
		padding-top: 0;

		.hero-selection-wrapper{
			width: 100%;
			height: auto;
			position: relative;
			top: 0;
			left: 0;
			padding: 0;
		}

		.counter-pick-list-wrapper{
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
		}
	}



	.hero-grid-wrapper{
		display: none;
	}


	.hero-search-bar-wrapper{
		height: 60px;
		position: relative;
	}
}

@media(max-width:$counter-picker-page-tiny-width){


}