<div class="counter-picker-page">
	<div class="page" ng-class="{ 'hamburger-is-open': hamburgerIsOpen}">
		<div class="page-header">
			<ng-include src="'/app/features/appHeader/appHeader.html'"></ng-include>
		</div>
		<div class="page-content">
			<div class="counter-picker-page-content">
				<div class="counter-picker-page-top-content">
					<div class="enemy-team-wrapper">
						<ng-include src="'/app/features/enemyTeam/enemyTeam.html'"/>
					</div>
				</div>
				<div class="counter-picker-page-bottom-content">
					<div class="counter-picker-page-bottom-content-relative-wrapper">
						<div class="hero-selection-wrapper">
							<div class="hero-selection-relative-wrapper">
								<div class="hero-search-bar-wrapper">
									<ng-include src="'/app/features/heroSearchBar/heroSearchBar.html'"></ng-include>
								</div>
								<div class="hero-grid-wrapper" ng-if="shouldShowHeroGrid()">
									<ng-include src="'/app/features/heroGrid/heroGrid.html'"></ng-include>
								</div>
							</div>
						</div>
						<div class="counter-pick-list-area-wrapper">
							<div class="counter-pick-list-area-relative-wrapper">
								<div class="role-dropdown-wrapper">

								</div>
								<div class="counter-pick-list-wrapper">
									<ng-include src="'/app/features/counterPickList/counterPickList.html'"></ng-include>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hamburger-page-blocker" ng-class="{ open: hamburgerIsOpen}" ng-click="closeHamburger()">

	</div>
	<div class="hamburger-content-wrapper" ng-class="{ open: hamburgerIsOpen }">
		<ng-include src="'/app/features/hamburgerContents/hamburgerContents.html'"></ng-include>
	</div>
</div>