<div class="hamburger-contents" ng-controller="hamburgerContentsController">
	<div class="hamburger-close-button" ng-click="closeHamburger()">
		<svg viewBox="0 0 30 30" class="ico-close">
			<use xlink:href="#ico-close"></use>
		</svg>
	</div>
	<div class="hamburger-items">
		<div class="hamburger-item hamburger-nav">
			<a class="hamburger-nav-item" href="/#/">
				Home
			</a>
			<a class="hamburger-nav-item" href="/#/about">
				About
			</a>
		</div>
		<div class="hamburger-item translation-toggle">
			<div class="translation-instructions">
				Select a language
			</div>
			<select ng-model="selectedLanguage" ng-options="languageOption.name for languageOption in languageOptions" ng-change="onSelectedLanguageChanged()">
			</select>
		</div>
	</div>
</div>