<div class="hamburger-contents" ng-controller="hamburgerContentsController">
	<div class="hamburger-close-button" ng-click="closeHamburger()">
		<svg viewBox="0 0 30 30" class="ico-close">
			<use xlink:href="#ico-close"></use>
		</svg>
	</div>
	<div class="hamburger-items">
		<div class="hamburger-item hamburger-nav">
			<a class="hamburger-nav-item" href="/#/">
				{{ translationService.translateString("Home")}}
			</a>
			<a class="hamburger-nav-item" href="/#/about">
				{{ translationService.translateString("About")}}
			</a>
		</div>
		<div class="hamburger-item translation-toggle">
			<div class="translation-instructions">
				{{ translationService.translateString("Select a language")}}
			</div>
			<select ng-model="selectedLanguage" ng-options="languageOption.name for languageOption in languageOptions" ng-change="onSelectedLanguageChanged()">
			</select>
		</div>
		<div class="hamburger-item dota1-toggle">
			<input type="checkbox" id="dota1" name="dota1" ng-model="shouldUseDota1Portraits" ng-change="onDota1CheckboxToggled()">
			<label for="dota1">{{ translationService.translateString("Use Dota 1 Portraits.")}}</label>
		</div>
	</div>
</div>