<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Walrus Punch!</title>

		<link rel="stylesheet" href="bin/css/style.css">
		<!--
			Thanks for looking at the source!

			This app was built using Node.js, Angular.js.js, JQuery, Sugar.js, Typeahead.js, and MixItUp.

			I scrape the dotabuff heropages to get the data.  The data is at most a day old.

			If you enjoy this, maybe consider sending me stuff on steam? http://steamcommunity.com/tradeoffer/new/?partner=82629665&token=Wf2beYpd

		-->
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o),
						m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-47989718-3', 'auto');
			ga('send', 'pageview');
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-app="WalrusPunch" lang="en">

		<ng-include src="'/app/features/svgIcons/svgIcons.html'"></ng-include>

		<div class="page-wrapper" ng-view>

		</div>

		<script src="bin/js/lib.js"></script>
		<script src="bin/js/walrusPunch.js"></script>
	</body>
</html>