.hero-grid{
	height: 100%;
	width: 100%;
	font-size: 0;
	overflow: auto;
	text-align: center;
}

.hero-grid-hero{
	display: inline-block;
	height: 144px;
	width: 256px;
	background: $off-white;
	cursor: pointer;

	&.selected{
		img,
		.name{
			opacity: 1;
		}
	}

	&:hover{
		img,
		.name{
			opacity: 0.8;
		}
	}

	.hero-content{
		position: relative;
		height: 100%;
		width: 100%;
	}

	img,
	.name{
		opacity: 0.6;
		transition: all 300ms ease;
	}

	img{
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.name{
		position: absolute;
		color: $off-white;
		@include font-size(2.6);
		bottom: 5px;
		left: 5px;
		text-align: left;
	}
}

.mix{
	display: none;
}

.dota1 {
	.hero-grid-hero{
		width: 144px;

		.name{
			bottom: 10px;
			left: 10px;
		}
	}
}


@media(max-width:$counter-picker-page-medium-width){
	.hero-grid-hero {
		height: 115px;
		width: 205px;
		@include font-size(1.8);
	}

	.dota1{
		.hero-grid-hero{
			height: 144px;
			width: 144px;
		}
	}
}



@media(max-width:$counter-picker-page-small-width){

}

@media(max-width:$counter-picker-page-tiny-width){


}