/*
 * * * * * * * * * * * * * * * * * * *
 * LITTLE BITS
 * * * * * * * * * * * * * * * * * * *
 */

.left { float: left; }

.right { float: right; }

.nomar { margin: 0; }

.rule {
	width: 100%;
	height: 1px;
	background: $mid-grey;
	margin: 10px 0 30px;
}