.enemy-team{
	background: $mid-red;
	color: $off-black;
	padding: 5px;
	width: 100%;
	.title{
		color: $off-white;
		height: 35px;
		width: 100%;
		text-align: center;
		@include font-size(3.5);
		text-transform: uppercase;
		@extend %source-sans-semibold;
		letter-spacing: 0.3rem;
	}
	.team-wrapper{
		height: 105px;
		width: 100%;
		margin-bottom: 35px;
		.team{
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			.hero{
				display: inline-block;
				cursor: pointer;
				.background-image{
					max-height: 100%;
					height: 100%;
					width: auto;
				}
				.icon{
					position: absolute;
					top: 5px;
					right: 0;
					@include transition(all 0.3s ease);
					span{
						@include font-size(3.0);
						color: $light-red;
						@include transition(font-size 0.3s ease);
					}
				}
				&:hover{
					.icon{
						span{
							@include font-size(4);
						}
					}
				}
			}
		}
	}
}