.enemy-team{
	background: $mid-red;
	color: $off-black;
	padding: 5px;
	width: 100%;
	.title{
		color: $off-white;
		height: 35px;
		width: 100%;
		text-align: center;
		@include font-size(3.5);
		text-transform: uppercase;
		@extend %source-sans-semibold;
		letter-spacing: 0.3rem;
	}
	.team-wrapper{
		height: 105px;
		width: 100%;
		margin-bottom: 35px;
		.team{
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			.hero{
				display: inline-block;
				cursor: pointer;
				width: 187px;
				height: 109px;
				vertical-align: top;
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
				.background-image{
					max-height: 100%;
					height: 100%;
					width: auto;
				}
				.icon{
					position: absolute;
					top: 5px;
					right: 0;
					@include transition(all 0.3s ease);
					span{
						@include font-size(3.0);
						color: $light-red;
						@include transition(font-size 0.3s ease);
					}
				}
				&:hover{
					.icon{
						span{
							@include font-size(4);
						}
					}
				}

				.empty-slot{
					height: 100%;
					width: 100%;
					border: 5px dashed $off-white;
					color: $off-white;
					opacity: 0.6;
					.ico-plus{
						@include font-size(3.6);
						@extend %vertical-align;
					}
				}
			}
		}
	}

	&.medium{
		.title{
			height: 24px;
			@include font-size(2.4);
			margin-top: 5px;
		}
		.team-wrapper{
			height: 75px;
			margin-bottom: 29px;
			.team{
				.hero{
					width: 134px;
					height: 75px;
					.icon{
						span{
							@include font-size(2.0);
						}
					}
					&:hover{
						.icon{
							span{
								@include font-size(3);
							}
						}
					}

					.empty-slot{
						.ico-plus{
							@include font-size(2.4);
						}
					}
				}
			}
		}
	}
	&.small, &.tiny{
		.title{
			height: 16px;
			@include font-size(1.6);
		}
		.team-wrapper{
			height: 33px;
			margin-bottom: 16px;
			.team{
				.hero{
					width: 59px;
					height: 33px;
					margin-right: 5px;
					.icon{
						top: 0;
						span{
							@include font-size(1.2);
						}
					}
					&:hover{
						.icon{
							span{
								@include font-size(1.6);
							}
						}
					}

					.empty-slot{
						border: 5px dotted $off-white;
						.ico-plus{
							@include font-size(1.6);
						}
					}
				}
			}
		}
	}
}