@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?82767050');
	src: url('../fonts/fontello.eot?82767050#iefix') format('embedded-opentype'),
	url('../fonts/fontello.woff?82767050') format('woff'),
	url('../fonts/fontello.ttf?82767050') format('truetype'),
	url('../fonts/fontello.svg?82767050#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ico-"]:before, [class*=" ico-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
}

.ico-pointer-up:before { content: '\e800'; } /* 'î €' */
.ico-pointer-down:before { content: '\e801'; } /* 'î ' */
.ico-minus:before { content: '\e802'; } /* 'î ‚' */
.ico-chevron-up:before { content: '\e803'; } /* 'î ƒ' */
.ico-chevron-down:before { content: '\e804'; } /* 'î „' */
.ico-close:before { content: '\e805'; } /* 'î …' */