/*
 * * * * * * * * * * * * * * * * * * *
 * EXTENDS
 * * * * * * * * * * * * * * * * * * *
 */

// Box Sizing
%border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

%content-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
// include @mixin clearfix on the parent div you want to clear
%clearfix {
	zoom: 1; // For IE 6/7 (trigger hasLayout)

	&:after,
	&:before {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

%vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*
 * * * * * * * * * * * * * * * * * * *
 * MIXINS
 * * * * * * * * * * * * * * * * * * *
 */

// REM font-size
@mixin font-size($size){
	font-size: ($size * 10) + px;
	font-size: $size + rem;
}

@mixin box-shadow ($shadows...) {
	box-shadow: $shadows;
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	// Single:
	// @include box-shadow(x y blur color);
	// Multiple:
	// @include box-shadow(inset x y blur color, x y blur color);
}

// Border Radius, all corners
@mixin border-radius-all($cornervalue) {
   -webkit-border-radius: $cornervalue;
   -moz-border-radius: $cornervalue;
   border-radius: $cornervalue;
}

// Border Radius, any configuration
@mixin border-radius($topleft, $topright, $bottomright, $bottomleft) {
   -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
   -moz-border-radius: $topleft $topright $bottomright $bottomleft;
   border-radius: $topleft $topright $bottomright $bottomleft;
}

// Transition mixin
@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

%inline-block { display: inline-block; }
%uppercase { text-transform: uppercase; }
%letter-spacing { letter-spacing: 1px; }

%unstyled-list{
	display: inline-block;
	list-style: none;
	list-style-type: none;
	list-style-position: none;
	border-bottom: none;
	-moz-list-style: none none none;
	-moz-margin-before: 0;
	-moz-margin-after: 0;
	-moz-margin-start: 0;
	-moz-margin-end: 0;
	-moz-padding-start: 0;
	-webkit-list-style: none none none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;

	li { display: inline-block; }
}

%truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin linear-gradient($from, $to) {
	/* Fallback for sad browsers */
	background-color: $to;
	/* Mozilla Firefox */
	background-image:-moz-linear-gradient($from, $to);
	/* Opera */
	background-image:-o-linear-gradient($from, $to);
	/* WebKit (Chrome 11+) */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to));
	/* WebKit (Safari 5.1+, Chrome 10+) */
	background-image: -webkit-linear-gradient($from, $to);
	/* IE10 */
	background-image: -ms-linear-gradient($from, $to);
	/* W3C */
	background-image: linear-gradient($from, $to);
}

%unstyled-button{
	border: none;
	border-image-source: none;
	border-image-slice: none;
	border-image-width: none;
	border-image-outset: none;
	border-image-repeat: none;
}