.modal{
	position: fixed;
	z-index: 0;
	@include transition(opacity 0.3s ease);
	opacity: 0;
	&.visible{
		z-index: 2;
		opacity: 1;
	}
	.modal-overlay{
		background: rgba($off-black, 0.8);
	}
	.modal-content{
		.modal-background{
			height: 375px;
			width: 650px;
			@extend %vertical-align;
			margin: 0 auto;
			background: $off-white;
		}
		.content-wrapper{
			padding-top: 50px;
			@include font-size(1.6);
			color: $off-black;
			.content{
				padding: 10px;
			}
			.intro-text{

			}
			.about{
				margin-top: 20px;
				width: 100%;
				.profile-picture{
					display: inline-block;
					width: 200px;
					margin-right: 20px;
					img{
						width: 100%;
						max-width: 100%;
						height: auto;
					}
				}
				.about-author{
					display: inline-block;
					width: 400px;
					float: right;
					margin-top: 15px;
				}
			}
		}

		.modal-header{
			height: 50px;
			width: 100%;
			background: $dark-blue;
			color: $off-white;

			.title{
				@include font-size(2.0);
				line-height: 50px;
				float: left;
				margin-left: 20px;
				@extend %source-sans-semibold;
			}
			.close{
				float: right;
				cursor: pointer;
				@include transition(color 0.3s ease);
				.icon{
					@include font-size(6.0);
					line-height: 50px;
				}
				&:hover{
					color: darken($off-white, 15%);
				}
			}
		}

	}
}