//$dark-blue: #45a6e6;
//$light-blue: #93edf5;
//$off-white: #f9f3ee;
//$off-black: #0a1424;
//$dark-beige: #cb7c7c;
//$light-beige: #f4b4ac;
//
//$green: #5bb75b;
//$red: #da4f49;

$more-black: rgb(14, 6, 5);
$off-black: rgb(31, 12, 11);
$mid-red: rgb(115, 44, 47);
$light-red: rgb(197, 62, 45);
$orange: rgb(179, 95, 37);
$grey: rgb(193, 190, 177);
$off-white: rgb(216, 207, 197);
$green-black: rgb(14, 24, 13);
$dark-green: rgb(57, 76, 49);
$mid-green: rgb(95, 119, 67);
$pale-green: rgb(154, 187, 151);



