.typeahead,
.tt-query,
.tt-hint {
	width: 100%;
	height: 60px;
	padding: 0 12px;
	@include font-size(4.0);
	line-height: 60px;
	border: 0;
	border-bottom: 1px solid $off-black;
	outline: none;
}

.typeahead {
	background-color: $off-white;
}

.typeahead:focus {
	border-bottom: 1px solid $dark-green;
}

.tt-query {
	@include box-shadow(inset 0 1px 1px rgba($off-black, 0.075));
}

.tt-hint {
	color: rgba($off-black, 0.4);
}

.tt-dropdown-menu {
	width: 100%;
	max-height: 130px;
	overflow-y: auto;
	margin-top: 12px;
	padding: 8px 0;
	background-color: lighten($grey, 10%);
	@include box-shadow(0 5px 10px rgba($off-black,.2));
}

.tt-suggestion {
	padding: 3px 20px;
	@include font-size(1.8);
	line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: $off-white;
	background-color: $dark-green;

}

.tt-suggestion p {
	margin: 0;
}

.twitter-typeahead{
	width: 100%;
	&:after{
		@extend .fontello;
		content: '\e807';
		color: rgba($off-black, 0.4);
		@include font-size(4.0);
		line-height: 55px;
		position: absolute;
		top: 0;
		right: 0;
	}
}
