<div class="enemy-team" ng-class="responsiveSize" ng-controller="enemyTeamController">
	<div class="enemy-team-title">
		{{ translationService.translateString("Enemy Team")}}
	</div>
	<div class="enemy-team-heroes-wrapper">
		<div class="enemy-heroes">
			<div class="enemy-team-hero-slot" ng-repeat="hero in heroes" >
				<div class="enemy-hero" ng-if="!hero.empty" ng-click="onHeroClicked(hero)">
					<img class="background-image" ng-src="{{getHeroImage(hero)}}">
					<svg viewBox="0 0 30 30" class="ico-close">
						<use xlink:href="#ico-close"></use>
					</svg>
					<div class="red"></div>
				</div>
				<div class="enemy-team-empty-slot" ng-if="hero.empty">
					<svg viewBox="0 0 30 30" class="ico-plus">
						<use xlink:href="#ico-plus"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>