*, *:before, *:after { @extend %border-box; }

html {
	@include main-font();
	font-size: 62.5%;
	color: $off-black;
	width: 100%;
	height: 100%;
	display: block;
}

.page-wrapper{
	height: 100%;
	width: 100%;
}

.modals{
	display:none;
}