@charset "utf-8";

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/noto sans/woff2/NotoSans-Regular.woff2") format("woff2"),
		url("/fonts/noto sans/woff/NotoSans-Regular.woff") format("woff"),
		url("/fonts/noto sans/ttf/NotoSans-Regular.ttf") format("true-type");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/noto sans/woff2/NotoSans-Italic.2") format("woff2"),
		url("/fonts/noto sans/woff/NotoSans-Italic.woff") format("woff"),
		url("/fonts/noto sans/ttf/NotoSans-Italic.ttf") format("true-type");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/noto sans/woff2/NotoSans-Bold.woff2") format("woff2"),
		url("/fonts/noto sans/woff/NotoSans-Bold.woff") format("woff"),
		url("/fonts/noto sans/ttf/NotoSans-Bold.ttf") format("true-type");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("/fonts/noto sans/woff2/NotoSans-BoldItalic.woff2") format("woff2"),
		url("/fonts/noto sans/woff/NotoSans-BoldItalic.woff") format("woff"),
		url("/fonts/noto sans/ttf/NotoSans-BoldItalic.ttf") format("true-type");
	font-weight: 700;
	font-style: italic;
}

/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/noto sans japanese/NotoSansJP-Thin.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Thin.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Thin.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/noto sans japanese/NotoSansJP-Light.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Light.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Light.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/noto sans japanese/NotoSansJP-DemiLight.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-DemiLight.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-DemiLight.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/noto sans japanese/NotoSansJP-Regular.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Regular.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/noto sans japanese/NotoSansJP-Medium.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Medium.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/noto sans japanese/NotoSansJP-Bold.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Bold.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Noto Sans Japanese";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/noto sans japanese/NotoSansJP-Black.woff2") format("woff2"),
	url("/fonts/noto sans japanese/NotoSansJP-Black.woff") format("woff"),
	url("/fonts/noto sans japanese/NotoSansJP-Black.otf") format("opentype");
}

@font-face {
	font-family: "Jeju Gothic";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/jeju gothic/JejuGothic-Regular.eot");
	src: url("/fonts/jeju gothic/JejuGothic-Regular.eot?#iefix") format("embedded-opentype"),
	url("/fonts/jeju gothic/JejuGothic-Regular.woff2") format("woff2"),
	url("/fonts/jeju gothic/JejuGothic-Regular.woff") format("woff"),
	url("/fonts/jeju gothic/JejuGothic-Regular.ttf") format("truetype");
}


@mixin main-font {
	font-family: "Noto Sans", Verdana, Helvetica, Arial, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;

	&:lang(ko){
		font-family: "Noto Sans", "Jeju Gothic", Verdana, Helvetica, Arial, sans-serif;
	}

	&:lang(ja){
		font-family: "Noto Sans", "Noto Sans Japanese", Verdana, Helvetica, Arial, sans-serif;
	}
}

.spin-the-spinner{
	display: inline-block;
	animation: spin 1.35s linear infinite;
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	50% { -webkit-transform: rotate(180deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	50% { -moz-transform: rotate(180deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	50% { -ms-transform: rotate(180deg); }
	to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
	from { -o-transform: rotate(0deg); }
	50% { -o-transform: rotate(180deg); }
	to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	to { transform: rotate(360deg); }
}