$counter-picker-page-tiny-width: 500px;
$counter-picker-page-small-width: 805px;
$counter-picker-page-medium-width: 1100px;

$about-page-mobile-width: 750px;
$about-page-tiny-width: 950px;
$about-page-small-width: 1150px;
$about-page-medium-width: 1500px;
