.app-header{
	width: 100%;
	height: 40px;
	background: $off-black;
	color: $off-white;
	cursor: default;

	&.tiny{
		.app-header-title{
			@include font-size(2.2);
		}
	}
}

.app-header-title{
	@include font-size(2.6);
	color: $light-red;
	margin-left: 10px;
	float: left;
	line-height: 44px;
	font-weight: 600;
}

.app-header-sub-title{
	line-height: 42px;
	@include font-size(1.6);
	color: $mid-red;
	margin-left: 10px;
	float: left;
}

.hamburger-button{
	height: 40px;
	width: 40px;
	background: $dark-green;
	float: right;
	display: block;
	cursor: pointer;
	transition: all 300ms ease;
	&:hover{
		background: darken($dark-green, 10%);
	}

	svg{
		fill: $off-white;
		margin: 0 auto;
		@include vertical-align();
		height: 40px;
		width: 40px;
	}
}