.app-header{
	width: 100%;
	height: 30px;
	background: $off-black;
	color: $off-white;
	cursor: default;

	&.tiny{
		.app-header-title{
			@include font-size(2.2);
		}
	}
}

.app-header-title{
	@include font-size(2.6);
	color: $light-red;
	margin-left: 10px;
	float: left;
	line-height: 34px;
	font-weight: 600;
}

.app-header-sub-title{
	line-height: 32px;
	@include font-size(1.6);
	color: $mid-red;
	margin-left: 10px;
	float: left;
}

.about-modal-link{
	line-height: 32px;
	@include font-size(1.6);
	color: $light-red;
	margin-right: 10px;
	float: right;
	cursor: pointer;
	transition: color 300ms ease;
	&:hover{
		color: darken($light-red, 10%);
	}
}